@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Poppins:ital,wght@0,300;0,600;0,700;0,800;1,400&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #7161ef;
  color: white;
  font-size: 16px;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
}

form button{
  background-color: #f1e6e1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;

}

::placeholder, select {
  font-family: 'Poppins', sans-serif;
}

.text-field {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f1e6e1;
}

.answers-div label,
.answers-div input {
  display: inline-block;
}

.answers-div input {
  margin-right: 5px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.selection-form,.question-card {
  background-color: #fff;
  width: 600px;
  max-width: 90%;
  margin: 50px auto;
  color: #5a6066;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.question {
  font-weight: 600;
  margin: 10px 0;
  max-width: 100%;
}

.answers-div {
  margin-bottom: 6px;
}

.question-section {
  margin-bottom: 20px;
}